@font-face {
    font-family: "OngleleafBuhungDonggeon";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungDonggeon/OngleleafBuhungDonggeon.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungDonggeon/OngleleafBuhungDonggeon.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungDonggeon/OngleleafBuhungDonggeon.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungDonggeon {
    font-family: "OngleleafBuhungDonggeon";
}
